.linkWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 175px;
    height: 22px;
    margin-bottom: 30px;
    margin-left: 100px;

    .unactiveLink {
        font-family: Causten;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.6px;
        text-align: left;
        color:  #807D7E;
        cursor: pointer;
    }

    .activeLink {
        font-family: Causten;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.6px;
        text-align: left;
        color: #3C4242;
        cursor: pointer;
    }
}