.cart {
    display: block;
    width: 30px;
    height: 30px;
    background-color: grey;
    align-items: center;
}

.counter {
    font-family: Causten;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    color: #807D7E;
    position: absolute;
    top: 30px;
    right: 195px;
}