.Card {
    position: relative;
    display: flex;
    flex-direction: column;

    .img {
        display: block;
       border: 1px solid green1;
        border-radius: 10px;
        width: 100%;
        height: 370px;
    }
    .addToFav {
        position: absolute;
        display: block;
        width: 32px;
        height: 32px;
        top: 26px;
        right: 20px;
        cursor: pointer;
        background-color: white;
        border-radius: 50%;
        padding: 10px;
    }

    .favorite {
        position: absolute;
        display: block;
        width: 32px;
        height: 32px;
        top: 26px;
        right: 20px;
        cursor: pointer;
        background-color: pink;
        border-radius: 50%;
        padding: 10px;
    }

    .cardsTxt {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 33px;
        margin-top: 30px;

        .productName {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-family: Causten;
            font-size: 16px;
            font-weight: 600;
            line-height: 19.2px;
            text-align: left;
            color: #3C4242;

            .brand {
                font-family: Causten;
                font-size: 14px;
                font-weight: 500;
                line-height: 16.8px;
                text-align: left;
                color: #807D7E;
            }
        }

        .productCost {
            display: block;
            background-color: #F6F6F6;
            border: none;
            border-radius: 10px;
            width: 82px;
            height: 37px;
            padding: 10px 16px 10px 16px;
            border: 1px solid grey;
            font-family: Causten;
            font-size: 14px;
            font-weight: 700;
            line-height: 16.8px;
            text-align: center;
            color: #3C4242;
        }
    }
}