.HeaderButton {
   
    height: 26px;
    font-family: Causten;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    color: #807D7E;
    background-color: white;
    border: none;
}