.img {
    width: 30px;
    height: 30px;
    .counter {
        font-family: Causten;
        font-size: 22px;
        font-weight: 500;
        line-height: 26.4px;
        text-align: left;
        text-align: center;
    }
}