.submit {
    position: absolute;
    bottom: 100px;
    left: 10px;
    width:  200px;
    height: 53px;
    padding: 16px 20px 16px 20px;
    gap: 12px;
    border-radius: 8px;
    opacity: 0px;
    background-color: #8A33FD;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}