.Men {
margin-top: 110px;
border: 1px solid grey;
.label {
    width: 420px;
    height: 32px;
    text-align: center;
    border-left: 6px solid #8A33FD;
    font-family: Core Sans C;
    font-size: 34px;
    font-weight: 600;
    line-height: 33.5px;
    color: #3C4242;
    margin-bottom: 70px;
    padding-left: 20px;
}
}

